body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}