extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="map")
  script.
    L.mapbox.accessToken = 'pk.eyJ1IjoibHlvbndqIiwiYSI6IndwUXlLUjQifQ.DIiytYUASOcXjKdpXW8S-Q';
    var map = L.mapbox.map('map', 'lyonwj.j5m52ga3')
    .setView([38.91338, -77.03236], 16);

    var featureGroup = L.featureGroup().addTo(map);

    var drawControl = new L.Control.Draw({
      edit: {
        featureGroup: featureGroup
      },
      draw: {
        polygon: true,
        polyline: false,
        rectangle: false,
        circle: false,
        marker: false
      }
    }).addTo(map);

    map.on('draw:created', showPolygonArea);
    map.on('draw:edited', showPolygonAreaEdited);

    function showPolygonAreaEdited(e) {
      e.layers.eachLayer(function(layer) {
        showPolygonArea({ layer: layer });
      });
    }
    function showPolygonArea(e) {
      featureGroup.clearLayers();
      featureGroup.addLayer(e.layer);
      e.layer.bindPopup((LGeo.area(e.layer) / 1000000).toFixed(2) + ' km<sup>2</sup>');
      e.layer.openPopup();
    }



