doctype html
html
  head
    title= title
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css')
    script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js')
    script(src='http://code.jquery.com/jquery-2.1.1.min.js')

  body
    block content